In [4]:
import pandas as pd

import time
from glob import glob
import shutil
import logging

from vnstock3 import Vnstock

In [5]:
start='2002-01-01'
end='2023-12-31'
interval='1D'
symbol='VNINDEX'
source='vci'



# Initialize instance for Vnstock
data_explore_logger = logging.getLogger(f'vnstock3.common.data.data_explorer')
data_explore_logger.setLevel(logging.CRITICAL)  # Set log level highher than WARNING level  

stock = Vnstock().stock(symbol='VNINDEX', source=source)

tmp = stock.quote.history(symbol='VNINDEX', start=start, end=end, interval=interval)
tmp

           time     open     high      low    close     volume
0    2013-01-02   415.50   419.05   414.41   418.35   64288223
1    2013-01-03   420.68   420.68   413.68   419.27   99824757
2    2013-01-04   418.75   426.48   417.50   426.06   64852320
3    2013-01-07   428.84   434.64   426.86   434.19   78123432
4    2013-01-08   437.25   447.16   437.15   447.16  119101143
...         ...      ...      ...      ...      ...        ...
2738 2023-12-25  1104.46  1118.31  1104.27  1117.66  658538434
2739 2023-12-26  1118.30  1123.11  1117.93  1122.25  644741653
2740 2023-12-27  1123.49  1126.47  1121.99  1121.99  776800261
2741 2023-12-28  1122.77  1130.58  1120.50  1128.93  716927949
2742 2023-12-29  1131.68  1135.05  1129.93  1129.93  710847562

[2743 rows x 6 columns]